@page "/Calcular"
@inject IMatToaster Toaster

<div>
    <p>
        <MatDatePicker Style="background-color:darkgrey" @bind-Value="@Date1"></MatDatePicker>
    </p>
    <MatButton Style="color:dodgerblue" OnClick="@(_ =>
                              {
                                  Date1 = DateTime.Now;
                              })">
        Agora
    </MatButton>
    <MatButton Style="color:dodgerblue" OnClick="@(_ =>
                              {
                                  Date1 = null;
                              })">
        limpar
    </MatButton>

    <span Style="color:antiquewhite">@Date1</span>
    <p></p>
</div>

@code
        {
    public DateTime? Date1 { get; set; } = DateTime.Now;
}
<div>
    @*<h1><label style="color:white">Calcular</label></h1>*@
    <p>
        <label style="color:white">Nº dias de formação:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select class="btn-secondary" id="Select1" @bind="cbdias">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
        </select>
    </p>
    <p>
        <label style="color:white">Nº Faltas:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select class="btn-secondary" id="Select2" @bind="cdfaltas">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
        </select>
    </p>
    <p><label style="color:white">Nº de horas:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="btn-secondary" id="Text1" style="width:50px" type="number" @bind="txthoras" /></p>

    <p><MatCheckbox class="text-light" style="font-size:medium" @bind-Value="@Chkbolsa" Label="@(getLabel(Chkbolsa))"></MatCheckbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="color:white">@lbbolsa</label></p>

    @*<p><input type="checkbox" name="check" class="custom-checkbox" @bind="Chkbolsa" /><label for="check" style="color:white">Bolsa:</label> <label style="color:white">@lbbolsa</label></p>*@

    <p><label style="color:white">Alimentação:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="color:white">@lbalimen</label></p>

    <p><label style="color:white">Transporte:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="btn-secondary" id="Text2" style="width:50px" type="number" @bind="txttransp" /></p>

    <p><label style="color:white">Total a receber:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="color:white">@lbtotal</label></p>

    <button class="btn-danger" @onclick="limpar">Limpar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" @onclick="calcular">Calcular</button>
</div>

@code {
    String lbtotal = "0";
    String cbdias = "1";
    String cdfaltas = "0";
    double txttransp;
    String lbalimen = "0";
    double txthoras = 6;
    String lbbolsa = "0";
    bool Chkbolsa = true;
    //[Parameter] public bool Chkbolsa { get; set; } = true;

    double bolsa = 0;
    double alimen = 0;
    double transp = 0;
    double total = 0;
    double ndias;
    double nfaltas;
    double horas;
    private void calcular()
    {
        //if (txttransp == "" || txthoras == "")
        //{
        //    txttransp = "0";
        //    txthoras = "6";
        //}
        ndias = (float)Convert.ToDecimal(cbdias);
        nfaltas = (float)Convert.ToDecimal(cdfaltas);
        horas = (float)Convert.ToDecimal(txthoras);
        bolsa = (ndias - nfaltas) * horas * 1.67;
        alimen = (ndias - nfaltas) * 4.77;
        transp = (float)Convert.ToDecimal(txttransp);
        if (Chkbolsa == true)
        {
            total = bolsa + transp + alimen;
            lbbolsa = String.Format("{0:0.##}", bolsa) + "€";
            lbalimen = String.Format("{0:0.##}", alimen) + "€";
            lbtotal = String.Format("{0:0.##}", total) + "€";
            Toaster.Add("Aqui esta o resultado com bolsa", MatToastType.Success);
        }
        else
        {
            lbbolsa = "";
            total = transp + alimen;
            lbalimen = String.Format("{0:0.##}", alimen) + "€";
            lbtotal = String.Format("{0:0.##}", total) + "€";
            Toaster.Add("Aqui esta o resultado sem bolsa", MatToastType.Warning);
        }
    }

    private void limpar()
    {
        lbbolsa = "0";
        lbalimen = "0";
        txttransp = 0;
        //txttransp.text.clear()
        lbtotal = "0";
        txthoras = 6;
        Toaster.Add("Esta limpinho!", MatToastType.Danger);
    }

    string getLabel(bool val)
    {
        return !val ? "Sem Bolsa" : "Bolsa:";
    }




}
